// Flex Columns 

@mixin flexy {
    display: flex;
    flex-direction: column;
}

@mixin big-nav {
    @media (min-width: $break-m) {
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;

        li {
            padding: 10px;
            margin: 20px;

            a {
                color: $text-color;
            }
        }
    }
}

@mixin big-grid {
    @media (min-width: $break-m) {
        flex-direction: row;
        justify-content: space-around;
    }
}

@mixin center-grid {
    @media (min-width: $break-m) {
        flex-direction: row;
        justify-content: center;
    }
}

@mixin gutter {
    @media (min-width: $break-m) {
        margin-left: 10px;
    }
}