// Colors

$text-color: #888;
$color-primary: #56cdaf;
$link-color: #6cdffa;
$default-color: #6cdffa;
$success-color: #00b451;
$error-color: #be5151;
$warning-color: #ec7423;
$info-color: #7e19f1;


//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$font-stack-primary: 'Helvetica Neue', sans-serif;
$font-stack-secondary: 'Montserrat', sans-serif;