
.nav {
    @include flexy;
    list-style: none;
    width: 90%;
    margin: auto;

    li {
        padding: 20px;
        color: $text-color;

        a {
            color: $link-color;
            text-decoration: none;
        }

    }
    li:hover {
        background-color: $color-primary;
        border-radius: 5px;
        a {
            color: white;
        }
    }
    @include big-nav;
}

