
.nav {
    @include flexy;
    @include big-nav;
    li {
        padding: 20px;

    }
    li:hover {
        background-color: $color-primary;
        border-radius: 5px;
        a {
            color: white;
        }
    }
    
}

//Testing