.nav {
    margin: 15px;
    li {
        display: flex;
        flex-direction: column;
        padding: 20px;

    }
    li:hover {
        background-color: rgb(86, 205, 175);
        border-radius: 5px;
        a {
            color: white;
        }
    }
    
}