.container {
    margin: 0 auto;
    max-width: $max-width;
    text-decoration: none;
    text-align: center;
    color: $text-color;
}

.card p,
.headline--primary p {
    text-align: left;
    padding: 20px 50px;
}

.headline--primary {
    padding-left: 70px;
    text-align: left;
    color: $color-primary;
}

.headline--secondary {
    text-align: left;
    padding-left: 50px;
    padding: 0;
    margin-left: 20px;
}

.grid__col--8 .headline--secondary {
    padding-left: 30px;
}

.blockquote {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    padding: 0 40px 0 20px;
    margin-left: 15%;
    border-radius: 10px;
    border-left: 10px $color-primary solid;
}

.link {
    text-decoration: none;
    color: $link-color;
}