// =======================================================
// Base Styles
// =======================================================


* {
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    color: $text-color;
    font-family: $font-stack-primary;
    padding: 0;    
    
}

ul {
    list-style: none;
    width: 90%;
    margin: auto;
}

p {
    text-align: left;
    padding: 20px 50px;
}


